<tr>
  <td>
    <%= category.name %>
  </td>
  <td>
    <%= Product.where(category_id: category.id).count %>
  </td>
  <td>
    <%= category.created_at %>
  </td>
  <td>
    <%= category.updated_at %>
  </td>

</tr>