<h1>Welcome to Jungle!</h1>
<h3>Jungle is an e-commerce platform for all of your useless needs!</h3>
<p> Jungle offers a variety of products in a wide range of categories, and implements Stripe for secure online purchases. We're particularly proud of the human-feet shoes.</p>
